Source: ros-melodic-rqt-graph
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/rqt_graph
Standards-Version: 3.9.2

Package: ros-melodic-rqt-graph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-melodic-python-qt-binding (>= 0.2.19), ros-melodic-qt-dotgraph, ros-melodic-rosgraph, ros-melodic-rosgraph-msgs, ros-melodic-roslib, ros-melodic-rosnode, ros-melodic-rospy, ros-melodic-rosservice, ros-melodic-rostopic, ros-melodic-rqt-gui, ros-melodic-rqt-gui-py
Description: rqt_graph provides a GUI plugin for visualizing the ROS computation graph.
 Its components are made generic so that other packages where you want to achieve graph representation can depend upon this pkg (use rqt_dep to find out the pkgs that depend. rqt_dep itself depends on rqt_graph too).
